 # <font color = 'navy'> Primer avance PIA</font>

##  <font color = 'Green'> Minería de datos </font>

### Equipo 3: 
###      • Ricardo González Berumen     1941497 
###      • José Claudio Gaytán Gutiérrez     1855455 
###      • Ruy Aramis López Verduzco     1863861 
###      • Nancy Janeth Rodríguez Pacheco     1845816 
###      • Thalía Ruiz Espitia     1941494

##  <font color = 'Orange'> Título de la base de datos </font>

La base de datos está titulada como “Equity Residential Apartment Data”, esta fue consultada en el portal de Kaggle.com, teniendo como URL el siguiente: https://www.kaggle.com/jackogozaly/equity-residential-apartment-data

##  <font color = 'Orange'> Introducción general </font>

El derecho a una vivienda adecuada es un derecho humano reconocido en la normativa internacional de los derechos humanos como elemento integrante del derecho a un nivel de vida adecuado. Sin embargo, el tener un lugar para vivir puede ser complicado en algunos casos; ya que existen muchos factores que desempeñan un papel en algo tan vital como lo es la elección de un lugar para vivir; ya sea la localización, el área construida, el número de cuartos y baños, los extras tales como closets, jardines, chimeneas, la vista panorámica etcétera. Todas estas características son determinantes para el precio que finalmente el aspirante a propietario o inquilino tendrá que pagar.

Durante los pasados 20 años el precio de las viviendas en las principales economías industrializadas ha crecido sostenidamente. Sin embargo, la carencia de series largas y sistemáticas de precios ha dificultado un análisis pormenorizado de los determinantes de dicha evolución, lo cual contrasta con la relevancia macro financiera de este tema. En primer lugar, la vivienda representa el principal activo para los hogares, por lo que cambios en su valoración afectan las hojas de equilibrio de las familias, y por ende, su comportamiento de gasto. Segundo, los activos inmobiliarios representan una partida relevante dentro de la balanza de las instituciones financieras lo que implica que la evolución de este sector es relevante para el sistema financiero y su estabilidad. Por último, los precios de las viviendas —al igual que los precios de otros activos— podrían verse influidos por las tasas de interés, estableciéndose de este modo un canal de trasmisión de la política monetaria.

Estos datos contienen aproximadamente un mes de datos de edificios de apartamentos en todo Estados Unidos propiedad de Equity Residential. Este conjunto de datos contiene datos de apartamentos desde el 25 de junio de 2021 hasta el 17 de julio de 2021. Incluidos todos los complejos de apartamentos propiedad de Equity Residential. Incluye datos como el precio de alquiler diario, dormitorios, baños, ubicación, comodidades del apartamento, tasa de disponibilidad del apartamento, día registrado y fecha de mudanza.

##  <font color = 'Orange'> Descripción de datos </font>

Los datos que se encuentran en esta base de datos están organizados en forma de una tabla en un archivo CSV, un tipo de documento en formato abierto sencillo para representar datos en forma de tabla, en las que las columnas se separan por comas y las filas por saltos de línea.

La manera en que están organizados los datos es la siguiente: En filas se encuentran cada una de las observaciones o eventos, mientras que en las columnas se sitúan las características observadas para cada una de dichas observaciones. Como características tenemos las siguientes:

•	Precio.

•	Camas.

•	Baños.

•	Pies cuadrados.

•	Ciudad.

•	Amenidades.

•	Dirección.

•	Nombre de apartamentos.

•	Número de balcones.

•	URL del sitio de apartamentos.

•	Número de piso.

•	Vacancia estimada.

•	Número de armarios.

•	Renovaciones.

•	Chimeneas.

•	Días para disponibilidad.

•	Espacio de oficina.

•	Accesorios sin manchas.

•	Horizonte de la ciudad.

•	Isla de cocina.

•	Asoleamiento del norte/sur/este/oeste.

•	Unidades.

•	ID de edificio y unidad.

•	Día de alquiler.

##  <font color = 'Orange'> Justificación del uso de datos </font>

El tema en particular es bastante práctico y fácilmente aplicable a un contexto actual, ya que, como se ha mencionado anteriormente, la vivienda y sus precios es un problema actual muy real. Elegimos esta base de datos debido a lo concisa y fácilmente aplicable que es para generar una problemático; además de que los datos están situados en un solo documento y están bien organizados, lo cual hace fácil trabajar con ellos.

Entre los beneficios que tenemos de trabajar con este conjunto de datos están la facilidad de interpretación, debido a que el único obstáculo relativamente hablando es la barrera del idioma, puesto que los datos se encuentran en inglés. Otra ventaja es la simplicidad de las categorías, ya que son conceptos fáciles de entender como direcciones, número de baños, etcétera. Finalmente, podemos obtener con este proyecto una vista más clara a la economía que rodea a la industria inmobiliaria y los costos asociados a esta.

##  <font color = 'Orange'> Objetivo principal </font>

Como objetivo principal planteamos el elaborar una correlación entre las distintas características de un apartamento y su precio de alquiler. De ser posible, otro objetivo de este proyecto era intentar aplicar ingeniería inversa para generar un algoritmo que cambie los precios de los apartamentos a diario en una simulación. Finalmente, también se aspira a explicar las fluctuaciones en el precio del apartamento.

##  <font color = 'Orange'> Preguntas de interes </font>

1.	¿El precio de un apartamento está directamente ligado a la localización de este mismo? 

2.	¿El asoleamiento de un departamento es relevante al precio de alquiler?

3.	¿El contar con una chimenea incrementa o disminuye el precio de alquiler de un apartamento?

##  <font color = 'Orange'> Bibliografía </font>

Ogozaly, J. (21 de Agosto de 2021). Equity Residential Apartment Data. Obtenido de Kaggle: https://www.kaggle.com/jackogozaly/equity-residential-apartment-data

##  <font color = 'Orange'> Preparación de los datos </font>

##  <font color = 'red'> Base primaria </font>

Importando las librerías y abriendo la base de datos

In [1]:
import pandas as pd
import numpy as np

dat_ap = pd.read_csv("apartamentos.csv")

Dimensión de la base de datos

In [2]:
dat_ap.shape

(62810, 32)

Vista de la tabla en los primeros 5 datos

In [3]:
dat_ap.head()

,Unnamed: 0,Price,Beds,Baths,sq.ft,Floor,Move_in_date,building_id,unit_id,URL,...,Fireplace,City_Skyline,Kitchen_Island,Stainless_Appliances,Renovated,Office_Space,Days_Till_Available,Day_of_the_week_recorded,Unique_ID,Estiamted_Vacancy
0,1,2377,0,1.0,523,5,2021-09-02,01,0507,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,1.0,1.0,0.0,47.0,Wednesday,0105071210MassApartments,0.020833
1,2,2816,1,1.0,713,2,2021-09-13,01,0204,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,1.0,1.0,0.0,58.0,Wednesday,0102041210MassApartments,0.020833
2,3,3811,2,2.0,1252,6,2021-10-08,01,0608,https://www.equityapartments.com/washington-dc...,...,1.0,0.0,0.0,0.0,0.0,0.0,83.0,Wednesday,0106081210MassApartments,0.020833
3,4,1549,0,1.0,456,2,2021-09-17,1,256 \r\n,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,0.0,0.0,0.0,62.0,Wednesday,1256\r\n1500MassApartments,0.003597
4,5,1753,1,1.0,580,3,2021-10-05,1,337 \r\n,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,0.0,0.0,0.0,80.0,Wednesday,1337\r\n1500MassApartments,0.003597

Nombre de los encabezados de las columnas

In [4]:
dat_ap.columns

Index(['Unnamed: 0', 'Price', 'Beds', 'Baths', 'sq.ft', 'Floor',
       'Move_in_date', 'building_id', 'unit_id', 'URL', 'Day_Recorded',
       'Amenity', 'Apartment Name', 'Address', 'City', 'Units',
       'Northern_Exposure', 'Southern_Exposure', 'Eastern_Exposure',
       'Western_Exposure', 'Balcony', 'Walk_In_Closet', 'Fireplace',
       'City_Skyline', 'Kitchen_Island', 'Stainless_Appliances', 'Renovated',
       'Office_Space', 'Days_Till_Available', 'Day_of_the_week_recorded',
       'Unique_ID', 'Estiamted_Vacancy'],
      dtype='object')

Tipos de datos existentes en las columnas

In [ ]:
dat_ap.dtypes

Cambio de nombre en columnas

In [5]:
dat_ap.rename(columns = {'Unnamed: 0':'Index'})

,Index,Price,Beds,Baths,sq.ft,Floor,Move_in_date,building_id,unit_id,URL,...,Fireplace,City_Skyline,Kitchen_Island,Stainless_Appliances,Renovated,Office_Space,Days_Till_Available,Day_of_the_week_recorded,Unique_ID,Estiamted_Vacancy
0,1,2377,0,1.0,523,5,2021-09-02,01,0507,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,1.0,1.0,0.0,47.0,Wednesday,0105071210MassApartments,0.020833
1,2,2816,1,1.0,713,2,2021-09-13,01,0204,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,1.0,1.0,0.0,58.0,Wednesday,0102041210MassApartments,0.020833
2,3,3811,2,2.0,1252,6,2021-10-08,01,0608,https://www.equityapartments.com/washington-dc...,...,1.0,0.0,0.0,0.0,0.0,0.0,83.0,Wednesday,0106081210MassApartments,0.020833
3,4,1549,0,1.0,456,2,2021-09-17,1,256 \r\n,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,0.0,0.0,0.0,62.0,Wednesday,1256\r\n1500MassApartments,0.003597
4,5,1753,1,1.0,580,3,2021-10-05,1,337 \r\n,https://www.equityapartments.com/washington-dc...,...,0.0,0.0,0.0,0.0,0.0,0.0,80.0,Wednesday,1337\r\n1500MassApartments,0.003597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62805,62806,3062,2,2.0,1203,6,2021-06-29,NaN,NaN,https://www.equityapartments.com/arlington/cou...,...,0.0,0.0,0.0,0.0,0.0,0.0,13.0,Sunday,NaN,0.032828
62806,62807,3150,2,2.0,1203,5,2021-07-17,NaN,NaN,https://www.equityapartments.com/arlington/cou...,...,0.0,0.0,0.0,0.0,0.0,0.0,31.0,Sunday,NaN,0.032828
62807,62808,3154,2,2.0,1080,19,2021-07-27,NaN,NaN,https://www.equityapartments.com/arlington/cou...,...,0.0,0.0,0.0,0.0,0.0,0.0,41.0,Sunday,NaN,0.032828
62808,62809,3158,2,2.0,1209,7,2021-08-21,NaN,NaN,https://www.equityapartments.com/arlington/cou...,...,0.0,0.0,0.0,0.0,0.0,0.0,66.0,Sunday,NaN,0.032828
62809,62810,3226,2,2.0,1080,18,2021-07-21,NaN,NaN,https://www.equityapartments.com/arlington/cou...,...,0.0,0.0,0.0,0.0,0.0,0.0,35.0,Sunday,NaN,0.032828

Revisión de todos los valores nulos en la base de datos

In [ ]:
dat_ap.isnull()

Revisión de los valores nulos por columna

In [ ]:
dat_ap.isnull().sum()

Cambiando los datos nulos

In [ ]:
base_nonull = dat_ap.fillna("S/I")

##  <font color = 'red'> Base secundaria </font>

Abriendo la base de datos

In [6]:
dat_pas = pd.read_csv("pasteleria.csv")

Dimensiones de la base de datos

In [7]:
dat_pas.shape

(20507, 5)

Vista de los primeros 5 datos

In [8]:
dat_pas.head()

   Transaction           Item         date_time period_day weekday_weekend
0            1          Bread  30-10-2016 09:58    morning         weekend
1            2   Scandinavian  30-10-2016 10:05    morning         weekend
2            2   Scandinavian  30-10-2016 10:05    morning         weekend
3            3  Hot chocolate  30-10-2016 10:07    morning         weekend
4            3            Jam  30-10-2016 10:07    morning         weekend

Nombre de los encabezados en las columnas

In [9]:
dat_pas.dtypes

Transaction         int64
Item               object
date_time          object
period_day         object
weekday_weekend    object
dtype: object

Revisando los datos nulos por columna

In [10]:
dat_pas.isnull().sum()

Transaction        0
Item               0
date_time          0
period_day         0
weekday_weekend    0
dtype: int64

Por lo tanto la base de datos no cuenta con datos nulos