In [2]:
#Tuplas 1

a=1.56767
b=5
c=True
d=3+4j

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

In [3]:
#Tuplas 2

tup=(1,2,3,4,5,6,7,8)

print("\n Primer elemento : ",tup[0])
print(" Último elemento : ",tup[7])

 Primer elemento :  1
 Último elemento :  8

In [4]:
#Tuplas 3

aux=list(tup)

aux.append("Thalía")
aux.append("Ruiz")
aux.append("Espitia")

tup=tuple(aux)

print("\n Tupla \n >>>",tup)

 Tupla
 >>> (1, 2, 3, 4, 5, 6, 7, 8, 'Thalía', 'Ruiz', 'Espitia')

In [5]:
#Tuplas 4

nom="Thalía"

print("\n ¿El elemento se encuentra en la tupla? \n >>",nom in tup)

 ¿El elemento se encuentra en la tupla?
 >> True

In [6]:
#Listas 1

import random

lst=[0]*40

for i in range(40):
    lst[i]=random.randrange(0,100)

print(len(lst))
print(lst)

40
[10, 61, 82, 32, 84, 21, 79, 33, 50, 46, 92, 56, 10, 17, 72, 47, 36, 65, 93, 88, 2, 57, 12, 51, 32, 89, 66, 91, 29, 67, 44, 98, 0, 0, 65, 5, 35, 72, 31, 97]

In [7]:
#Listas 2

def sep_par(l):

    x=list()

    for i in range(40):

        if l[i]%2==0:
            x.append(l[i])
    
    return x

def sep_impar(l):

    x=list()

    for i in range(40):

        if l[i]%2!=0:
            x.append(l[i])
    
    return x

lst1=sep_par(lst)
lst2=sep_impar(lst)

print(lst1)

print(lst2)

[10, 82, 32, 84, 50, 46, 92, 56, 10, 72, 36, 88, 2, 12, 32, 66, 44, 98, 0, 0, 72]
[61, 21, 79, 33, 17, 47, 65, 93, 57, 51, 89, 91, 29, 67, 65, 5, 35, 31, 97]

In [8]:
#Listas 3

lon1=len(lst1)
lon2=len(lst2)

print(lon1)
print(lon2)

21
19

In [9]:
#Listas 4

lst1.sort(reverse=True)
lst2.sort()

print(lst1)
print(lst2)

[98, 92, 88, 84, 82, 72, 72, 66, 56, 50, 46, 44, 36, 32, 32, 12, 10, 10, 2, 0, 0]
[5, 17, 21, 29, 31, 33, 35, 47, 51, 57, 61, 65, 65, 67, 79, 89, 91, 93, 97]

In [10]:
#Listas 5

lst.reverse()

print(lst)

y=lst.count(29)

print(y)

lst.insert(2,100)

print(lst)

lst.clear()

print(lst)

[97, 31, 72, 35, 5, 65, 0, 0, 98, 44, 67, 29, 91, 66, 89, 32, 51, 12, 57, 2, 88, 93, 65, 36, 47, 72, 17, 10, 56, 92, 46, 50, 33, 79, 21, 84, 32, 82, 61, 10]
1
[97, 31, 100, 72, 35, 5, 65, 0, 0, 98, 44, 67, 29, 91, 66, 89, 32, 51, 12, 57, 2, 88, 93, 65, 36, 47, 72, 17, 10, 56, 92, 46, 50, 33, 79, 21, 84, 32, 82, 61, 10]
[]

In [11]:
#Diccionarios 1

dicc={"Jesús":15,"Thalía":21,"Mary":45,"Salvador":52,"Vicky":15}

print(dicc)

{'Jesús': 15, 'Thalía': 21, 'Mary': 45, 'Salvador': 52, 'Vicky': 15}

In [12]:
#Diccionarios 2

val=list(dicc.values())

val.sort()

print(val)

[15, 15, 21, 45, 52]

In [13]:
#Diccionarios 3

for key in dicc:
    print(key)

Jesús
Thalía
Mary
Salvador
Vicky

In [14]:
#Diccionarios 4

dicc["David"]=14
dicc["Gabriel"]=11

print(dicc)

{'Jesús': 15, 'Thalía': 21, 'Mary': 45, 'Salvador': 52, 'Vicky': 15, 'David': 14, 'Gabriel': 11}

In [15]:
#Sets 1

st=set()

for i in range(100):
    st.add(random.randrange(1,26))

print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [16]:
#Sets 2

print(len(st))

25

In [17]:
#Sets 3

comp=[0]*5

for i in range(5):
    comp[i]=random.randrange(1,11)
    if comp[i] in st:
        print("El valor %d aparece en el set inicial"%comp[i])
    else:
        print("El valor %d no aparece en el set inicial"%comp[i])

El valor 10 aparece en el set inicial
El valor 6 aparece en el set inicial
El valor 4 aparece en el set inicial
El valor 1 aparece en el set inicial
El valor 4 aparece en el set inicial