In [18]:
#Tuplas 1

a=1.56767
b=5
c=True
d=3+4j

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

In [19]:
#Tuplas 2

tup=(1,2,3,4,5,6,7,8)

print("\n Primer elemento : ",tup[0])
print(" Último elemento : ",tup[7])

 Primer elemento :  1
 Último elemento :  8

In [20]:
#Tuplas 3

aux=list(tup)

aux.append("Thalía")
aux.append("Ruiz")
aux.append("Espitia")

tup=tuple(aux)

print("\n Tupla \n >>>",tup)

 Tupla
 >>> (1, 2, 3, 4, 5, 6, 7, 8, 'Thalía', 'Ruiz', 'Espitia')

In [21]:
#Tuplas 4

nom="Thalía"

print("\n ¿El elemento se encuentra en la tupla? \n >>",nom in tup)

 ¿El elemento se encuentra en la tupla?
 >> True

In [22]:
#Listas 1

import random

lst=[0]*40

for i in range(40):
    lst[i]=random.randrange(0,100)

print(lst)

40
[61, 59, 89, 67, 46, 96, 35, 73, 76, 33, 55, 23, 37, 9, 52, 6, 76, 89, 39, 12, 90, 5, 52, 12, 4, 7, 44, 63, 95, 4, 53, 10, 91, 53, 58, 62, 24, 66, 64, 95]

In [23]:
#Listas 2

def sep_par(l):

    x=list()

    for i in range(40):

        if l[i]%2==0:
            x.append(l[i])
    
    return x

def sep_impar(l):

    x=list()

    for i in range(40):

        if l[i]%2!=0:
            x.append(l[i])
    
    return x

lst1=sep_par(lst)
lst2=sep_impar(lst)

print(lst1)

print(lst2)

[46, 96, 76, 52, 6, 76, 12, 90, 52, 12, 4, 44, 4, 10, 58, 62, 24, 66, 64]
[61, 59, 89, 67, 35, 73, 33, 55, 23, 37, 9, 89, 39, 5, 7, 63, 95, 53, 91, 53, 95]

In [24]:
#Listas 3

lon1=len(lst1)
lon2=len(lst2)

print(lon1)
print(lon2)

19
21

In [25]:
#Listas 4

lst1.sort(reverse=True)
lst2.sort()

print(lst1)
print(lst2)

[96, 90, 76, 76, 66, 64, 62, 58, 52, 52, 46, 44, 24, 12, 12, 10, 6, 4, 4]
[5, 7, 9, 23, 33, 35, 37, 39, 53, 53, 55, 59, 61, 63, 67, 73, 89, 89, 91, 95, 95]

In [26]:
#Listas 5

lst.reverse()

print(lst)

y=lst.count(29)

print(y)

lst.insert(2,100)

print(lst)

lst.clear()

print(lst)

[95, 64, 66, 24, 62, 58, 53, 91, 10, 53, 4, 95, 63, 44, 7, 4, 12, 52, 5, 90, 12, 39, 89, 76, 6, 52, 9, 37, 23, 55, 33, 76, 73, 35, 96, 46, 67, 89, 59, 61]
0
[95, 64, 100, 66, 24, 62, 58, 53, 91, 10, 53, 4, 95, 63, 44, 7, 4, 12, 52, 5, 90, 12, 39, 89, 76, 6, 52, 9, 37, 23, 55, 33, 76, 73, 35, 96, 46, 67, 89, 59, 61]
[]

In [27]:
#Diccionarios 1

dicc={"Jesús":15,"Thalía":21,"Mary":45,"Salvador":52,"Vicky":15}

print(dicc)

{'Jesús': 15, 'Thalía': 21, 'Mary': 45, 'Salvador': 52, 'Vicky': 15}

In [28]:
#Diccionarios 2

val=list(dicc.values())

val.sort()

print(val)

[15, 15, 21, 45, 52]

In [29]:
#Diccionarios 3

for key in dicc:
    print(key)

Jesús
Thalía
Mary
Salvador
Vicky

In [30]:
#Diccionarios 4

dicc["David"]=14
dicc["Gabriel"]=11

print(dicc)

{'Jesús': 15, 'Thalía': 21, 'Mary': 45, 'Salvador': 52, 'Vicky': 15, 'David': 14, 'Gabriel': 11}

In [31]:
#Sets 1

st=set()

for i in range(100):
    st.add(random.randrange(1,26))

print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [32]:
#Sets 2

print(len(st))

24

In [33]:
#Sets 3

comp=[0]*5

for i in range(5):
    comp[i]=random.randrange(1,11)
    if comp[i] in st:
        print("El valor %d aparece en el set inicial"%comp[i])
    else:
        print("El valor %d no aparece en el set inicial"%comp[i])

El valor 2 aparece en el set inicial
El valor 8 aparece en el set inicial
El valor 5 aparece en el set inicial
El valor 5 aparece en el set inicial
El valor 7 aparece en el set inicial